doctype html
html
  head
    meta(charset='utf-8')
    |  
    |   
    title Home
    |   
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    |     
    |   
    meta(name='author', content='')
    |     
    |   
    link(rel='icon', href='../../favicon.ico')
    |    
    | &#x9;
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    script(type='text/JavaScript', src='template.js')
  body(style='background-color:slategray')
    .container
      .navbar-header
        .well
          h4.text-muted Home
    | &#x9;  
    center
      h1(style='text-shadow:4px 4px 10px black') PROJECT GATEWAY
    | &#x9;&#x9;
    center
      p(style='text-shadow:2px 2px 8px black') Home
    | &#x9;&#x9;
    |           
    |      
    .container-fluid
      .row
        .col-sm-2.col-md-1.sidebar
          ul.nav.nav-sidebar
            h4.text-center Menu
            |         
            li.active
              a.text-muted(href='#', style='color:black')
                | Home
                span.sr-only
            |             
            |         
            li
              a(href='#', style='color:gold') Project
            |             
            |         
            li
              a(href='#', style='color:gold') Group
            |             
            |         
            li
              a(href='#', style='color:gold') Meeting
          br
          br
          | &#x9;  
          a.btn.btn-default(href='#', ,='', role='button') Log Off
        |   
        | &#x9;
        .col-md-1
        | &#x9;
        |    
        .col-lg-3
          h2 Team Note
          | &#x9; 
          textarea.form-control(rows='8')
            | Let&apos;s set up a meeting
            | -Eric
          | &#x9;  
          button.btn.btn-default(type='button') Save
          | &#x9;  
          h2 Personal Note
          | &#x9;  
          textarea.form-control(rows='8') Research on login
          | &#x9;  
          button.btn.btn-default(type='button') Save
        // col class
        .col-md-3
          h2 To Do List
          | &#x9; 
          textarea.form-control(rows='22')
            | Wire frames
            | code
            | log in interface
            | set up meeting
          | &#x9;  
          button.btn.btn-default(type='button') Save
        // <div class="col-md-1"></div>
        #sidebar.col-sm-4.col-md-3.sidebar-offcanvas
          .list-group
            h2  Team Contact 
            | &#x9;&#x9;  
            textarea.form-control(rows='3', cols='1')
              | Danit
              | example@email.com
            | &#x9; 
            button.btn.btn-default(type='button') Save
            br
            br
            | &#x9; 
            textarea.form-control(rows='3')
              | Abel
              | example@email.com
            | &#x9; 
            button.btn.btn-default(type='button') Save
            br
            br
            | &#x9; 
            textarea.form-control(rows='3')
              | Nick
              | example@email.com
            | &#x9; 
            button.btn.btn-default(tyep='button') Save
            br
            br
            | &#x9; 
            textarea.form-control(rows='3')
              | Eric
              | example@email.com
            | &#x9; 
            button.btn.btn-default(type='button') Save
    // container
    .container-fluid
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
